{% extends 'base.html.twig' %}

{% block title %}Symforion - Gestion des promos !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('js/managePromo.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-12">
                <div class="card shadow">
                    <div class="card-body">
                        <h4 class="card-title">Gestion des Promos</h4>

                        <div class="row mt-5">
                            <div class="col-12">
                                <table id="promoTable">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    {% for promo in promos %}
                                        <tr>
                                            <td>{{ promo.id }}</td>
                                            <td>{{ promo.name }}</td>
                                            <td>
                                                <button type="button" class="btn btn-danger" value="{{ promo.id }}"><i class="bi bi-trash"></i></button>
                                                <input type="hidden" value="{{ promo.id }}">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
