{% extends 'base.html.twig' %}

{% block title %}Hello DisplayMarksController!{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{{ asset("css/markDisplay.css") }}">
{% endblock %}

{% block javascripts %}
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block body %}
<div class="tableContainer">
    <div class="example-wrapper">

        <table id="markTable"  style="width:100%">
            <thead>
                <tr>
                    <th>note</th>
                    <th>coef</th>
                    <th>type</th>
                    <th>description</th>
                    <th>matière</th>
                </tr>
            </thead>
            <tbody>
            {% for mark in marks %}
                <tr>
                    <td>{{ mark.mark }}</td>
                    <td>{{ mark.coef }}</td>
                    <td>{{ mark.type }}</td>
                    <td>{{ mark.description }}</td>
                    <td>{{ mark.subject.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
    <a href="{{ path('display_bulletin') }}">Voir Bulletin</a>
    <script>
        $(document).ready( function () {
            $('#markTable').DataTable({
                "dom" : 't'
            });
        } );
    </script>
{% endblock %}
